{% load i18n %}

<div class="clearfix">
    <div class="input">
        <ul class="inputs-list">
        {% for choice, key, checked, prev_value in qdict.choices %}
            <li>
                <label>
                    <input onClick="valchanged('{{ question.number }}_{{ choice.value }}', this.checked);" type="checkbox" id="{{ key }}" name="{{ key }}" value="{{ choice.value }}" {{ checked }}>
                    <span>{{ choice.text }}</span>
                    {% if qdict.type == 'choice-multiple-values' %}
                    <span class="multiple-values-box" checks="dep_check('{{ question.number }},{{ choice.value }}')" id="q{{ question.number }}_{{ choice.value }}_box">
                    <input type="text" value="{{ prev_value }}" maxlength="4" style="margin-left: 40px; width: 4em" 
                    id="question_{{ question.number }}_{{ choice.value }}_value" name="question_{{ question.number }}_{{ choice.value }}_value">
                    &#37;   <!-- percentage sign: all choice-multiple-values currently represent percentages and must add up to 100% -->
                    </span>
                    {% endif %}
                </label>
            </li>
        {% endfor %}

        {% if qdict.extras %}
            {% for key, value in qdict.extras %}
            <li>
                {% if not forloop.last or not forloop.first %}
                    <b>{{ forloop.counter }}.</b> 
                {% endif %}
                <input type="text" name="{{ key }}" size="50" value="{{ value }}">    
            </li>
            {% endfor %}
        {% endif %}

        {% if question.extra %}
            <li>
                <span class="help-block">{{ question.extra }}</span>
            </li>
        {% endif %}
        </ul>
    </div>
</div>
